.svg-layer .pixel:hover {
opacity: 0.4;
}
/* 
body{
    margin: 0;
} */

#map {
    width: 100%;
    height: 80vh;
}
.spacer {
    padding-left: 15px;
}
.bg{
    background-color: #222529;
    /* width: 100vw; */
    height: 100vh;
}
.canvas{
    width: 100vw;
    height: 100vh;
}
.container{
    margin: 0;
}
.width{
    width: 100vw;
}