<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin RIT - BC2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="bg">

    <div class="login-page">
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('index')}}"><img class="login-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="PinRIT Logo"></a>
        </div>
        <div class="d-flex justify-content-center">
            <h1 class="title">PinRIT Log In</h1>
        </div>

        {% if error %}
        <div class="d-flex justify-content-center">
            <h5 class="text-light pt-3">Error, please try again!</h1>
        </div>
        {% endif %}

        <div class="d-flex justify-content-center align-items-center">
            <form class="login-form text-center" method="POST" action="/login">
                {{ form.hidden_tag() }}
                <div class="mb-3 py-2">
                    {{ form.username.label }} {{ form.username }}
                </div>
                <div class="mb-3 pb-4">
                    {{ form.password.label }} {{ form.password }}
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" id="btn-login" class="btn btn-info">Log in</button>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <p>Don't have an account? <a href="{{ url_for('register')}}">Register</a></p>
                </div>
            </form>
        </div>
    </div>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>