<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin RIT - BC2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="bg">


    <nav class="navbar bg-body-tertiary navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo"></a>
            <h1 id="pinrittext" class="title">{{user}}</h1>
            <div class="d-flex">
              
                <div class="spacer"></div>
                <a class="btn btn-info" href="{{ url_for('buy')}}">Get your own</a>
                {% if not user %}
                <div class="spacer"></div>
                <a class="btn btn-info" href="{{ url_for('login')}}">Log in</a>
                {% else  %}
                <div class="spacer"></div>
                <a class="btn btn-info" href="{{ url_for('logout')}}"><i class="fas fa-sign-out-alt"></i></a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div id="profile" class="m-5">
        {% for i in values %}
            <img height="30" width="30" src="{{i}}" alt="SVG image"/>
        {% endfor %}
    </div>


    <!-- </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.js" integrity="sha512-6V5JccoHkiddv+vVubCp2TFQsx9UC/VIa5+l+zSObWn1Ns5nYQOkdCgRah1Fb0NOeYPAD6b+d7Ui9ImHTIwsJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>